/* ----------------------------

  BEHOLD A BUNCH OF RESET STUFF

---------------------------- */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}








/* ----------------------------

  STYLING FOR BUBBLEPEDIA

---------------------------- */
// font-family: 'Comfortaa', cursive;
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Noto Sans SC', sans-serif;
// font-family: 'Noto Serif JP', serif;
// font-family: 'Noto Serif SC', serif;
// font-family: 'Playfair Display', serif;
body {
  background-image: url('../assets/bubble_tea_fun_glasses.jpg');
  // font: ;
}

header, footer { font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans SC'; }

header {
  height: fit-content;
  margin-top: 1vh;
  
  @media screen and (min-width: 700px) {
    margin-top: 5vh;
    height: 8vh;
  }
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  
  .logo, .wiki-form, h1{
    position: relative;
    margin-left: 2.67vw;
    margin-right: 2.67vw;
    margin-bottom: 0%;
    padding: 3px;
    width: calc(12vw + 50px);
    border-radius: 2px;
    overflow-wrap:break-word;
  }
  
  .logo {
    margin-top: .5em;
    left: 0; // only abs/rel blocks
    font-family: 'Comfortaa';
  }
  
  .wiki-form {
    margin-top: .5em;
    right: 0; // position -> right
    padding: 0;
    box-sizing: border-box;
    input, ul {
      padding: 3px;
      width: 100%;
      background: white;
    }

    input {
      outline: 1px solid lightgray;
      border-radius: inherit;
    }
    input:hover, input:focus-within { outline: 1px solid lightslategray; }
    ul {
      padding-top: 0;
      padding-bottom: 0;
      border-radius: 2px;
      opacity: 90%;
      overflow: hidden;
      button { width: 100%; border-top: 1px solid lightgray;}
    }
    li:focus {background-color: rgba(255, 255, 255, 1);}
  }
  
  h1 {
    font-family: 'Playfair Display', 'Noto Serif JP', 'Noto Serif SC';
    font-size: 30px;
    font-weight: 600;
    width: 40%;
    text-align: center;
  }

}

.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 4px;
  @media screen and (max-height: 400px) {
    height: fit-content;
  }
  
  .pictures, .article-section {
    background-color: white;
    min-width: 240px;
    flex-grow: 1;
    border-radius: 6px;
    margin: 1.6%;
    @media screen and (min-width: 700px) {max-width: 46vw;}
    @media screen and (min-height: 500px) {
      height: 62vh;
      overflow-y: scroll;
    }
  }
  .pictures{left: 0;}
  .article-section {
    right: 0;
    padding: .8%;
    padding-right: 0.5%;
    padding-left: 2%;
    box-sizing: border-box;

    img{width: min-content;}
  }

    h2, h3, h4, h5 {
      font-family: 'Playfair Display', 'Noto Serif JP', 'Noto Serif SC';
      font-size:larger;
      line-height: 1.8em;
    }
    p, ul {
      font-family: 'Noto Sans';
      line-height: 1.6em;
      sup { vertical-align: top; font-size: 0.6em; };
    }

}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 2.67%;
  margin-bottom: 0;
  margin-top: 2vh;
  height: 10vh;
  
  a {width: fit-content;}
  
  * {
    padding: 6px;
    flex-flow: row nowrap;
    margin: 0;
    display: flex;
    align-items: center;
    width: 25vw;
  }
  .related-articles {
    display: inherit;
    justify-content: center;
    button {
      width:3em;
      height:3em;
      border-radius: 1.6em;
      text-align: center;
      background: white;
      opacity: .8;
    }
  }
  .related-articles + p  {
    justify-content: right;
    button {
      width: fit-content;
      border-radius: 1em;
      padding: .6em;
      background: white;
      opacity: .8;
    }
  }
  
  img {height: 2em; width: auto;}
  
  @media screen and (max-width: 700px) {
    footer .related-articles, footer p {
      display:inherit;
      * {
        flex-flow: column nowrap;
        justify-content: space-between;
      }
    }
    .related-articles + p {margin-left: calc(20vw + 50px);}
  }
}

.related-article-list {
  filter: url('#goo');

  position: relative;
  background: transparent;

  height: 100vh;
  width: 100vw;

  > li {
    position: absolute;

    left: calc(50vw - 4em);
    top: calc(50vh - 4em);
    width: 8em;
    height: 8em;

    border-radius: 45%;
    padding: .6em;
    border: .3em solid wheat;
    background: wheat;
    box-sizing: border-box;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Noto Sans';
    font-size: 11px;
  }
}
.readme{
  position: sticky;
  margin-left: calc(50vw - 15em);
  top: calc(50vh - 7.5em);
  > p {
    width: 30em;
    height: 15em;
    border-radius: 2vw;
    background: wheat;
    justify-content: center;
    text-align: center;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 2em;
    li {text-align: left;}
  }

  @media screen and (max-width: 700px) {
    margin-left: 10vw;
    top: 10vh;
    p { width: 80vw; height: 80vh; }
  }
}






.fade-bg, .frost {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.fade-bg {
  background: rgb(41, 18, 0, .6);
  position: fixed;
}
.fade-bg[show="false"] {visibility: hidden;}
.frost {
  background: rgb(245, 245, 245, .6);
  z-index: -1;
}






/* ----------------------------

  STYLING FOR SCROLLBARS; WEBKIT COMPATIBLE

---------------------------- */
/* Hide scrollbar for Chrome, Safari and Opera */
.pictures::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: transparent;
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}


svg {width:0; height: 0;}