/* ----------------------------

  BEHOLD A BUNCH OF RESET STUFF

---------------------------- */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}








/* ----------------------------

  STYLING FOR BUBBLEPEDIA

---------------------------- */
html {
  // background-image: 'url(https://static01.nyt.com/images/2021/09/14/science/07CAT-STRIPES/07CAT-STRIPES-mediumSquareAt3X-v2.jpg)' no-repeat center center fixed;
  // background-size: cover;
  background: lemonchiffon;
}

header {
  height: 12vh;
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  
  .logo, .wiki-form, h1{
    background: pink;
    position: relative;
    margin: 2.67%;
    margin-bottom: 0%;
    padding: 3px;
    width: calc(12vw + 50px);
    border-radius: 2px;
    overflow-wrap:break-word;
  }
  
  .logo { left: 0; }// only abs/rel blocks
  
  .wiki-form {
    right: 0; // position -> right
    padding: 0;
    box-sizing: border-box;
    input, ul {
      padding: 3px;
      width: 100%;
      background: white;
    }

    input {
      outline: 1px solid lightgray;
      border-radius: inherit;
    }
    input:hover, input:focus-within { outline: 1px solid lightslategray; }
    ul {
      padding-top: 0;
      padding-bottom: 0;
      border-radius: 2px;
      opacity: 90%;
      overflow: hidden;
      button { width: 100%; border-top: 1px solid lightgray;}
    }
  }
  
  h1 {
    font-size: x-large;
    width: 40%;
    text-align: center;
    // max-height: fit-content; // !!!!! not entirely sure, check
  }

}

.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background: powderblue;
  padding: 4px;
  @media screen and (max-height: 400px) {
    height: fit-content;
  }
  
  .pictures, .article-section {
    background-color: white;
    // opacity: .6; // want to put this with the background picture instead
    // filter: blur(4px);
    min-width: 240px;
    flex-grow: 1;
    border-radius: 6px;
    margin: 1.6%;
    padding: 1.2%;
    @media screen and (min-width: 700px) {max-width: 46vw;}
    @media screen and (min-height: 400px) {
      height: 62vh;
      overflow-y: scroll;
    }
  }
  .pictures{left: 0;}
  .article-section{right: 0;}

}
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-grow: 1;
  margin: 2.67%;
  margin-bottom: 0%;
  height: 10vh;
  
  * {
    padding: 3px;
    min-width: 100px;
    background: lavender;
  }
  p {width: 16%;}
}



/* ----------------------------

  IMPORTING GOOGLE FONTS

---------------------------- */

// @import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// // Font Variables
// $roboto-slab: 'Roboto Slab', serif;   
// $open-sans: 'Open Sans', sans-serif;

/* ----------------------------

  STYLING FOR SCROLLBARS; WEBKIT COMPATIBLE

---------------------------- */
::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}


